<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<%- include('./header'); %>
<%- include('./error_messages'); %>
<% if(isAuth) { %>
 <div class="container">
  <div class="row">
    <div class="col-md-6">
      <form action="/" method="post">
  <label>自主練習の記録</label>
  <input required type="text" name="add" placeholder="何した？"/>
  <input required type="number" name="duration" min="1" placeholder="時間(分)"/>
  <input class="btn btn-primary" type="submit" value="追加"/>
</form>
      <h5>自分の自主練習状況</h5>
      <ul>
  <% for(let todo of todos){ %>
    <li>
      <span><%= todo.content %></span>
      <small class="text-muted">
        <% if (todo.duration) { %>
          （<%= todo.duration %>分）
        <% } %>
      </small>
    </li>
  <% } %>
</ul>
    </div>
    <div class="col-md-6">
  <h5>全ユーザーの自主練習状況</h5>
  <% if (groupedTodos) { %>
    <% Object.keys(groupedTodos).forEach(function(userName) { %>
  <strong><%= userName %></strong>
  <ul>
    <% groupedTodos[userName].forEach(function(todo) { %>
      <li>
        <%= todo.content %>
        <% if (todo.duration) { %>
          <small class="text-muted">（<%= todo.duration %>分）</small>
        <% } %>
        <br>
        <small class="text-muted">
          <%= todo.created_at ? new Date(todo.created_at).toLocaleString('ja-JP', { timeZone: 'Asia/Tokyo' }) : '' %>
        </small>
      </li>
    <% }); %>
  </ul>
<% }); %>
  <% } %>
</div>
  </div>
</div>
<% } else { %>
  <h1>Welcome to the TodoApp</h1>
<a class="btn btn-primary" href="/signup" role="button">Sign up now!</a>
<% } %>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>